{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    {% if is_granted('IS_ANONYMOUS') %}
        <a class="btn btn-primary mt-2" href="{{ path('user_index') }}">Back</a>
    {% else %}
        <a class="btn btn-primary mt-2" href="{{ path('user_index') }}">Back to list</a>

    {% endif %}
{% endblock %}
